In [8]:
f = open("input.txt","w")
data = f
f = open("output.txt" ,"w")
data.close()

In [15]:
data=open("input.txt","r")
data.read()

''

In [6]:
file = open("input.txt","r")
print(file.read())

My name is Aliza Javed . Im from Pakistan . Im an Artificial Intelligence Student .

In [7]:
file = open("input.txt","r")
print(file.read())

My name is Aliza Javed . Im from Pakistan . Im an Artificial Intelligence Student .

# Question 01

In [17]:
with open("input.txt",'r') as file:
    data = file.read()
word_count = len(data.split())
print(f"Number of words: {word_count}")
line_count = len(data)
char_count = 0
lower_word  = data.lower()
print(lower_word)
replace_word = m.replace("aliza","parwaz")
print(replace_word)
for ch in data:
    words = ch.split()
    char_count += len(words)
print(f"Number of words: {char_count}")
freq = {}
words = lower_word.split()
for word in words:
    if word in freq:
        freq[word] += 1
    else:
        freq[word] = 1
print(f"Word Frequency:\n {freq}\n")
with open("output.txt", 'w') as output_file:
    output_file.write(replace_word)

print("Modified text has been written to 'output.txt'.")

Number of words: 16
my name is aliza javed . im from pakistan . im an artificial intelligence student .
my name is parwaz javed . im from pakistan . im an artificial intelligence student .
Number of words: 68
Word Frequency:
 {'my': 1, 'name': 1, 'is': 1, 'aliza': 1, 'javed': 1, '.': 3, 'im': 2, 'from': 1, 'pakistan': 1, 'an': 1, 'artificial': 1, 'intelligence': 1, 'student': 1}

Modified text has been written to 'output.txt'.

# Question 02

In [32]:
with open("customer_reviews.txt", "r") as file:
    review = file.readlines()
count = 0
for re in review:
    if "I recommend" in re or "highly recommend" in re:
        count += 1
print(f"Number of recommended reviews: {count}")

Number of recommended reviews: 6

# Question 03

In [41]:
with open("employee_data.txt", 'r') as file:
    employee_data = file.read()

record = employee_data.split('\n\n') 
content = []

for re in record:
    field = re.split('\n')
    emp_id = field[0].split(": ")[1]
    Name = field[1].split(": ")[1]
    Department = field[2].split(": ")[1]
    Salary = field[3].split(": ")[1]

    # Remove leading and trailing whitespace from each field
    emp_id = emp_id.strip()
    Name = Name.strip()
    Department = Department.strip()
    Salary = Salary.strip()

    # Extract the first name and last name from the 'Name' field
    first_name, last_name = Name.split()

    contents = f"Employee ID: {emp_id}\nName: {Name}\nDepartment: {Department}\nSalary: {Salary}\n"
    content.append(contents)
for c in content:
    print(c)

Employee ID: 101
Name: Muhammad Ali
Department: Sales
Salary: 50000 PKR

Employee ID: 102
Name: Ayesha Khan
Department: Marketing
Salary: 60000 PKR

Employee ID: 103
Name: Ahmed Riaz
Department: IT
Salary: 70000 PKR

Employee ID: 104
Name: Sadia Ahmed
Department: HR
Salary: 55000 PKR

Employee ID: 105
Name: Shahid Malik
Department: Finance
Salary: 75000 PKR

Employee ID: 106
Name: Hina Iqbal
Department: Sales
Salary: 52000 PKR

Employee ID: 107
Name: Bilal Hassan
Department: IT
Salary: 71000 PKR

Employee ID: 108
Name: Zara Fatima
Department: Marketing
Salary: 62000 PKR

Employee ID: 109
Name: Usman Khan
Department: HR
Salary: 56000 PKR

Employee ID: 110
Name: Sana Yasir
Department: Finance
Salary: 76000 PKR

Employee ID: 111
Name: Ali Shahzad
Department: Sales
Salary: 54000 PKR

Employee ID: 112
Name: Nida Ijaz
Department: IT
Salary: 72500 PKR

Employee ID: 113
Name: Imran Akhtar
Department: Marketing
Salary: 63000 PKR

Employee ID: 114
Name: Maria Khan
Department: HR
Salary: 57000 PKR

Employee ID: 115
Name: Saad Bashir
Department: Finance
Salary: 78000 PKR

Employee ID: 116
Name: Amina Raza
Department: Sales
Salary: 51000 PKR

Employee ID: 117
Name: Yasir Ahmed
Department: IT
Salary: 72000 PKR

Employee ID: 118
Name: Nida Ijaz
Department: Marketing
Salary: 64000 PKR

Employee ID: 119
Name: Imran Riaz
Department: HR
Salary: 59000 PKR

Employee ID: 120
Name: Saima Ali
Department: Finance
Salary: 77000 PKR

In [45]:
with open("employee_summary.txt", 'w') as file2:
    for i in content:
        file2.write(i + '\n')

print("Employee summaries saved in 'employee_summary.txt'.")

Employee summaries saved in 'employee_summary.txt'.